@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #111827;
  color: #fff;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #111827;
  color: #f3f4f6;
}
